.DS_Store
/engine.js
/engine.js.map
__MACOSX
/dist.zip
*.zip
/bin
/cache
/cli
/tmp
/templates
/libraries
/layouts
/includes
/images
/node_modules
/build
/logs
/api
/installation
/media
/dist

LICENSE.txt
README.txt
configuration.php
htaccess.txt
index.php
robots.txt
web.config.txt

/plugins

!/modules
/modules/*
!/modules/mod_sp_weather

/media/*

!/language
/language/*

!/language/en-GB
/language/en-GB/*
!/language/en-GB/en-GB.mod_sp_weather.ini

/components
/administrator
robots.txt.dist

/node_modules/*
package-lock.json
package.json
gulpfile.js